<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Cropper</title>
	<link rel="icon" href="/circle?url=https://avatars.githubusercontent.com/u/190524216" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="stars"></div>
    <div id="content">
        <h1>502 | Bad Gateway</h1>
        <p>Something happened on our end.<hr><a href="/">Go back</a></p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>